html{
	margin: auto;
	padding: auto;
}

body{
	padding:0;
	margin:0; 
	position: relative;
	font-family: 'Fira Sans', sans-serif;
	font-weight:300;
	color: #888;
}


/* ----- Header ----- */
header{
	position:fixed;
	top:0;
	z-index:100;
	width: 100%;
	height: 65px;
	background: white;
}
header a.site-title{
	font-family: 'Parisienne', cursive;
	font-size: 25px;
	float: left;
	margin-left: 25px;
	color:#888;
	text-decoration: none;
	padding-top:15px;
}
header a.site-title:hover{
	color:#97dec6;
}

header nav{
	text-align: right;
	height: 65px;
	box-shadow: 0px 1px 10px #868686;
}
header nav ul{
	margin:0;
	padding: 25px 15px  15px  15px;
}
header nav ul li{
	display: inline;
	padding: 25px 15px  15px  15px;
}
header nav ul li a{
	color:#888;
	text-decoration: none;
}
header nav ul li a:hover{
	color:#97dec6;
}

/* ---- Content Index ---- */
.content #index-top{
	height:450px;
	background-color:#97dec6;
}
.content #index-top .photo{
	text-align: center;
}
.content #index-top .photo img{
	width: 200px;
	height: 200px;
	border-radius:50%;
	margin-top: 50px;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}
.content #index-top h1{
	color:#699b8a;
	font-family: 'Parisienne', cursive;
	font-size: 35px;
	margin-bottom: 10px;
}
.content #index-top h2{
	color:#699b8a;
	font-size: 25px;
	font-weight:300;
	margin-top:0;
}

.content #index-cv{
	height:470px;
	padding-top:65px;
	background-color:#fff;
	text-align: center;
}
.content #index-cv .index-content, .content #index-portfolio .index-content, .content #index-contact .index-content{
	max-width:1024px;
	text-align: center;
	margin: auto;
}
.content #index-cv .index-content h2, .content #index-portfolio .index-content h2, .content #index-contact .index-content h2{
	color:#699b8a;
	font-size: 25px;
	margin-top:0;
	font-family:'Parisienne'; 
	font-size:35px;
}
.content #index-cv .index-content div.bloc-cv{
	text-align: center;
	width: 30%;
	padding: 10px;
	float: left;
}
.content #index-cv .index-content div.bloc-cv .img{
	width:100px;
	height:100px;
	border-radius:50%;
	background-color:#699b8a;
	margin: auto;
}
.content #index-cv .index-content div.bloc-cv a.cv{
	padding:10px 20px;
	border-radius: 3px;
	border: solid 3px #699b8a;
	color: #699b8a;
	text-decoration: none;
	font-size: 18px;
	margin-top: 30px;
}
.content #index-cv .index-content div.bloc-cv a.cv:hover{
	color: #fff;
	background: #699b8a;
}
.content #index-cv .index-content div.bloc-cv p{
	font-size:18px;
	font-weight: 300;
}

.content #index-cv .index-content div.bloc-cv p.bloc-cv-title{
	font-size:18px;
	font-weight: normal;
	margin-bottom: 30px;
}



.content #index-portfolio{
	height:170px;
	padding-top:65px;
	background-color:#97dec6;
}
.content #index-portfolio .index-content div.bloc-portfolio{
	text-align: center;
	width: 40%;
	padding: 10px;
	float: left;
	background: white;
	border-radius: 3px;
	margin-left: 5%;
	height: 200px;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.25);
	margin-bottom: 30px;
}
.content #index-portfolio .index-content a.portfolio{
	padding:10px 20px;
	border-radius: 3px;
	border: solid 3px #699b8a;
	color: #699b8a;
	text-decoration: none;
	font-size: 18px;
	margin-top: 30px;
	background: #fff;
}
.content #index-portfolio .index-content a.portfolio:hover{
	color: #fff;
	background: #699b8a;
}

.content #index-contact{
	height:400px;
	padding-top:65px;
	background-color:#fff;
}
.content #index-contact .index-content div.bloc-contact{
	text-align: center;
	width: 40%;
	padding: 10px;
	float: left;
	margin-left: 5%;
	font-size: 18px;
}
.content #index-contact .index-content div.bloc-contact a.a-social div.social{
	width:100px;
	height:100px;
	border-radius: 50%;
	background: #97dec6;
	margin: auto;
	float: left;
	margin-left: 10px;
	margin-bottom:10px;
}
.content #index-contact .index-content div.bloc-contact a.a-social:hover div.social{
	background: #699b8a;
}
.content #index-contact .index-content div.bloc-contact a.mail{
	padding:10px 20px;
	border-radius: 3px;
	border: solid 3px #699b8a;
	color: #699b8a;
	text-decoration: none;
	font-size: 18px;
}
.content #index-contact .index-content div.bloc-contact a.mail:hover{
	color: #fff;
	background: #699b8a;
}
.content #index-contact .index-content div.bloc-contact p{
	margin-bottom: 40px;
}


/* ---- Contenu cv ----- */
.content{
	padding-top:65px;
}
.content .left{
	width: 215px; 
	position: absolute;
    border-top: 250px solid #00BCD4;
    border-right: 30px solid transparent;
    height: 0px;
}
.content .left-bottom{
	width: 65px;
    position: absolute;
    border-top: 1225px solid #0097A7;
    border-right: 150px solid transparent;
    height: 0px;
    top: 300px;
}
.content .left-bottom .competences{
	position: absolute;
    bottom: 400px;
    left: -55px;
    z-index: 1;
	-webkit-transform: rotate(270deg);
       -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
         -o-transform: rotate(270deg);
			transform: rotate(270deg);
}
.content .left-bottom .competences h3{
	margin-top: 0;
	color: #fff;
    font-size: 30px;
    font-weight: normal;
}
.content .left-content{
	position: absolute;
}
.content .left-content .name{
	color: white;
	font-size:30px;
	line-height:38px;
	margin-top:40px;
	margin-left:30px;
	font-weight: normal;
}
.content .left-content .profession{
	color: white;
	font-size:20px;
	line-height:28px;
	margin-left:30px;
	margin-top:20px;
	font-weight: normal;
}
.content .right-top{
	width: 100%;
	background-color: #FFEB3B;
	height:170px;
	position: absolute;
}
.content .right-top .right-top-content{
	position: absolute;
	right: 300px;
	width: 350px;
}
.content .right-top .right-top-content h3{
    color: #fff;
    font-size: 30px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 5px;
}
.content .right-top .right-top-content p{
    color: #fff;
    margin-bottom: 0;
    margin-top: 0;
    display: inline-block;
    vertical-align: super;
	font-weight:500;
}
.content .right-top .right-top-content p a{
    color: #fff;
}
.content .right-top .right-top-content p a:hover{
    color: rgba(255,255,255,0.8);
}
.content .right-top .right-top-content img{
    margin-top: 5px;
    margin-right: 5px;
}
.content .right-top .ma-photo{
	position:absolute; 
	right:0; 
	top:0;
}
.content .right-top .ma-photo img{
	height:170px; 
	margin-top:0;
}

.content .left-content-bottom{
	position: absolute;
    top: 300px;
    left: 0;
}
.content .left-content-bottom ul{
	padding-left: 15px;
    color: white;
    margin: 0.75em 0;
    padding: 0 1em;
    list-style: none;
}
.content .left-content-bottom ul li:before{
	content: "";
    border-color: transparent white;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 1.1em;
    position: relative;
}
.content .left-content-bottom ul li.two:before{
	top: 1.9em;
}
.content .left-content-bottom ul li.three:before{
	top: 2.7em;
}
.content .left-content-bottom ul li{
	margin-bottom: 15px;
	line-height:25px;
}
.content .left-content-bottom .separation{
	border-bottom: solid white;
    width: 130px;
    margin-left: 15px;
}

.content .right-content-bottom{
	position: absolute;
    left: 400px;
    top: 240px;
    max-width: 800px;
}
.content .right-content-bottom .exp-pro h3{
	color: #FFEB3B;
	font-size: 30px;
	font-weight: normal;
}
.content .right-content-bottom .exp-pro .date{
	margin-left: 30px;
    font-size: 25px;
    color: rgb(113,113,113);
    margin-bottom: 15px;
}
.content .right-content-bottom .exp-pro .description{
	margin-left: 30px;
    color: rgb(113,113,113);
    line-height: 30px;
    margin-bottom: 0;
}
.content .right-content-bottom .exp-pro ul{
	padding-left: 15px;
    color: rgb(113,113,113);
    margin: 0.75em 0;
    padding: 0 1em;
    list-style: none;
    margin-top: 0;
    margin-left: 30px;
}
.content .right-content-bottom .exp-pro ul li:before{
	content: "";
    border-color: transparent #FFEB3B;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
}

.content .right-content-bottom .form h3{
	color: #0097A7;
	font-size: 30px;
	font-weight: normal;
	margin-top: 75px;
}
.content .right-content-bottom .form .date{
	margin-left: 30px;
    font-size: 25px;
    color: rgb(113,113,113);
    margin-bottom: 15px;
}
.content .right-content-bottom .form .description{
	margin-left: 30px;
    color: rgb(113,113,113);
    line-height: 30px;
    margin-bottom: 0;
}
.content .right-content-bottom .form ul{
	padding-left: 15px;
    color: rgb(113,113,113);
    margin: 0.75em 0;
    padding: 0 1em;
    list-style: none;
    margin-top: 0;
    margin-left: 30px;
}
.content .right-content-bottom .form ul li:before{
	content: "";
    border-color: transparent #FFEB3B;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
}

.separation-content{
	border: solid 2px #0097A7;
	left: 0;
	position: absolute;
	top: 1030px;
	width:100%;
}


footer{
	background: #0f1613;
	height: 50px;
	width:100%;
}
footer p{
	font-size: 13px;
	padding-top: 17px;
	padding-left:20px;
}


/* -------- Responsive ---------- */
@media screen and (min-width:1151px) and (max-width:1200px){
	.content .right-content-bottom{
		left: 300px;
	}
}

@media screen and (min-width:901px) and (max-width:1150px){
	.content .right-content-bottom{
		max-width: 650px;
		left: 270px;
	}
	.separation-content{
		top: 1125px;
	}
	.content .right-top .right-top-content{
		left: 275px;
	}
}

@media screen and (min-width:701px) and (max-width:900px){
	.content .right-content-bottom{
		max-width: 400px;
		left: 250px;
	}
	.separation-content{
		top: 1400px;
	}
	.content .right-top .ma-photo{
		display:none;
	}
	.content .right-top .right-top-content{
		left: 275px;
	}
	.content .left-bottom {
		width: 25px;
		border-top: 1525px solid #0097A7;
		border-right: 190px solid transparent;
	}
	.content .left-bottom .competences{
		bottom: 700px;
	}
}

@media screen and (max-width:700px){
	.content .right-content-bottom{
		max-width: 400px;
		left: 35px;
		top: 300px;
	}
	.separation-content {
		top: 1475px;
	}
	.content .right-top .ma-photo{
		display:none;
	}
	.content .right-top .right-top-content{
		left: 275px;
	}
	.content .left-bottom {
		display:none;
	}
}
